extends layout

block content
 div.wrapper
  div.content
   h1(align="center") Saved Laptops
  br    
  div.container
    div.content
      table.table
        thead
          tr
            th Monitor Size
            th RAM
            th Hard Drive
            th Price
        tbody(id="tableData")
      
    div(id="stuff")
 
  div.footer